body, html{
	/*resetting the margin and padding*/
	margin:0;
	padding:0;
	/*main font for the whole page*/
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth; 
}

html{
	height: 100%;
	overflow: scroll;
    overflow-x: hidden;
}

body{
	min-height:100%;
}

img[src*="000webhost"],
img[alt*="000webhost"],
a[title*="000webhost"], 
a[href*="000webhost"]{
	display: none;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.about {
    position: absolute;
    bottom: 0;
    top: 350px;
}

.navbar{
	overflow:hidden;
	background-color:rgba(0,0,0,0.6);
	position:fixed;
	top:0;
	width:100%;
}
/*navigation bar on top of the screen*/
.navbar a{
	float:left;
	display:block;
	color: #f2f2f2;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

.navbar a:after,
.navbar a:before{
	transition:all .5s;
}

.navbar a:after{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:0%;
	content:'.';
	color:transparent;
	background:#aaa;
	height:1px;
}

.navbar a{
	transition:all .8s;
}

.navbar a:after{
	text-align:left;
	content:'..';
	margin:0;
	opacity:0;
}


.navbar a:hover{
	color: 000;
	z-index: 1;
}

.navbar a:hover:after{
	z-index= -5;
	animation:fill 1s forwards;
	-webkit-animation:fill 1s forwards;
	-moz-animation:fill 1s forwards;
	opacity:1;
}

/*effect if the cursor is moved of the navigation bar*/
.navbar a:hover{
	background:#6A5F53;
	color:white;
}

/*general wrapper put around all divs*/
.wrapper{
	height:100%;
	width:100%;
}

/*setting the image for section 2 on the page*/
.section2{
	height:100%;
	width:100%;
	margin-top:20px;
}

/*section 3 importing the image and setting it with parallax*/
.section3 {

	background-color:#dcdcdc;
	text-align: center;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top: 40px;
}
/*Importing the image as section 4 and setting it with parallax*/
.section4{
	background-image:url("../img/contactBGtemp.jpg");
	text-align: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat :no-repeat;
	background-size: cover;
	margin-top:-15px;

	/*adding a border radius for the round effect around corners*/
	border-radius: 5px;
	background-color: #f2f2f2;
	padding:20px;
	margin-top:10px;
}
#headline{
	/*importing the image and setting it as the home page,
	itll be under the text*/
	background-image:url("../img/bgImage.jpg");
	width:100%;
	height:auto;
	margin-top: -80px;

	text-align: center;

	/*Parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#name{
	/*setting the font color and size and giving it a very light shadow*/
	color:white;
	text-shadow:1px 1px rgb(88,88,88);
	padding-top:200px;
	font-size:80pt;
}

#tagline{
	/*tagline text under my name PROGRAMMER | PHOTOPGRAPHER*/
	color:white;
	text-shadow:1px 1px rgb(88,88,88);
	padding-top:10px;
	font-size:40pt;
}

#aboutme{
	/*importing the image for the about me section*/
	background-image:url("../img/section2.jpg");
	margin-top: -10px;
	margin-bottom: -30px;
	width:100%;
	height:600px;
	text-align:center;
	/*Parallax scorlling effect*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*adapts to different screen sizes*/
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

h3{
	/*A little bit about me, increasing the font*/
	color:white;
	font-size:25px;
}
#contact-title{
	padding-top: 50px;
	font-size: 40px;
	color:white;
	text-align:center;
	text-shadow:1px 1px rgb(88,88,88);
}
#Paragraph1{
	color:white;
	text-shadow:1px 1px rgb(88,88,88);
	font-size:20px;
}

.socialIcon{
	width:55px;
	height:auto;
	transition: 0.3s;
	margin-bottom: 75px;
}

.socialIcon:hover{
	/*transform: scale(1.1);*/
	opacity: 0.7;
}

.resumeIcon{
	width:90px;
	height:auto;
	transition:0.3s;
	padding-top:30px;
}

.resumeIcon:hover{
	transform:scale(1.1);
}

#Photography{
	width:100%;
	height:100%;
	text-align:center;

	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	margin-bottom: 25px;
}

#Contact-me{
	background-image:url("img/contactBG.jpg");
	margin-top:50px;
	width:100%;
	height:100%;
	text-align:center;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	padding:20px;
	display: flex;
	justify-content: center;
}

.port-img {
	margin: 15px;
	background:repeat:no-repeat;
	background-position:center;
	background-size:cover;
	transition:0.3s;
}

.port-img img1{
	transition:all 0.2s linear;
	width:300px;
	height:200px;
}

.port-img .mask{
	opacity:.5;
	background-color: rgba(58, 1 ,132, 0.44);
	transition: all 0.4s ease-in-out;
}
/*
.port-img h2{
	transform:translateY(-100px);
	opacity:0;
	transition:all 0.2s ease-in-out;
}

.port-img p{
	transform: translateY(100px);
	opacity:0;
	transition: all 0.2s linear;
}

#port-title:hover img1{
	transform: scale(1.1);
}

#port-title:hover .mask{
	opacity:1;
}

#port-title:hover h2;
#port-title:hover p;
#port-title:hover a{
	opacity: 1;
	transform: translateY(0px);
}

#port-title: hover p{
	transition-delay:0.1s;
}

*/

#port-title{
	padding-top: 50px;
	font-size: 40px;
	color:white;
	text-align:center;
	text-shadow:1px 1px rgb(88,88,88);
}

p{
	font-size:40px; 
	font-weight:bolder;
	color:white;
	text-shadow:1px 1px rgb(88,88,88);
}

#img1{
	background-image:url("../img/img1.jpg");
	opacity:1;
	width:400px;
	height:300px;
}

.port-img:hover{
	transform: scale(1.1);
	opacity:1;
}

#img2{
	background-image:url("../img/img2.jpg");
	width:400px;
	height:300px;
}

#img3{
	background-image:url("../img/img3.jpg");
	width:400px;
	height:300px;
}

#img4{
	background-image:url("../img/img4.jpg");
	width:400px;
	height:300px;
}

#img5{
	background-image:url("../img/img5.jpg");
	width:400px;
	height:300px;
}

#img6{
	background-image:url("../img/img6.jpg");
	width:400px;
	height:300px;
}

#img7{
	background-image:url("../img/img7.jpg");
	width:300px;
	height:400px;
}

#img8{
	background-image:url("../img/img8.jpg");
	width:300px;
	height:400px;
	
}

#img9{
	background-image:url("../img/img9.jpg");
	width:300px;
	height:400px;
}

#about-box {
	width: 500px;
	background: rgba(39, 33, 35, 0.5);
	padding: 15px;
	border-radius: 10px;
}

*{
	box-sizing: border-box;
}

input[type=text], select, textarea{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	width:100%;
	padding:12px;
	border:2px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom:5px;
	resize:vertical;
}

input[type=submit]{
	background-color:#907272;
	color:white;
	font-size: 24px;
	padding: 5px 15px 5px 15px;
	margin-bottom: 10px;
	border:none;
	border-radius:4px;
	cursor:pointer;
	transition: 0.3s;
}

input[type=submit]:hover{
	background-color:white;
	color:#907272;
}

#subject {
	height: 200px;
	width: 470px;
}

button{
	opacity:0.1;
}
